Language: Cpp
BasedOnStyle: Microsoft

AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false

BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma

ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 2

IndentWidth: 2

NamespaceIndentation: All

PackConstructorInitializers: Never

PenaltyReturnTypeOnItsOwnLine: 10
PointerAlignment: Middle

SpaceAfterTemplateKeyword: false

ColumnLimit: 100

SortIncludes: false

IndentPPDirectives: BeforeHash

AlignAfterOpenBracket: AlwaysBreak
