[submodule "cmake"]
	path = cmake
	url = ../../jrl-umi3218/jrl-cmakemodules
[submodule ".travis"]
	path = .travis
	url = ../../jrl-umi3218/jrl-travis
[submodule "models/romeo"]
	path = models/romeo
	url = ../../laas/romeo.git
