[submodule "cmake"]
	path = cmake
	url = https://github.com/jrl-umi3218/jrl-cmakemodules
[submodule ".travis"]
	path = .travis
	url = https://github.com/jrl-umi3218/jrl-travis
[submodule "models/romeo"]
	path = models/romeo
	url = https://github.com/laas/romeo.git
