[submodule "cmake"]
	path = cmake
	url = https://github.com/jrl-umi3218/jrl-cmakemodules
[submodule "models/example-robot-data"]
	path = models/example-robot-data
	url = https://github.com/Gepetto/example-robot-data.git
