ci:
    autoupdate_branch: 'devel'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-json
    -   id: check-symlinks
    -   id: check-toml
    -   id: check-yaml
