---
layout: default
title: Tutorials
group: navigation
disqus: no
---

<h1 id="tutorials" class="page-header">{{ page.title }}</h1>

<p class="lead">

<div class="bs-callout bs-callout-warning text-warning bg-warning">
  <strong>Warning!</strong> As Pinocchio is a moving fast software, please consider that these tutorials may not work 100%.
  We are doing our best to keep them up-to-date
</div>
</p>
We currently provide two tutorials to help you to get started with Pinocchio, and particularly with the python wrapping.
The first one focus on inverse kinematics, whereas the second is more about optimal control and how to make romeo walk.

<ul class="nav nav-tabs" id="howto">
  <li class="active"><a href="#Tutorial_1" id="tutorial_1_tab" data-toggle="tab"> Tuto 1</a></li>
  <li><a href="#Tutorial_2" data-toggle="tab"> Tuto 2</a></li> 
  <li><a href="#Tutorial_3" data-toggle="tab"> Tuto 3</a></li> 
  <li><a href="#Tutorial_4" data-toggle="tab"> Tuto 4</a></li> 
</ul>

<div class="tab-content" style="padding-top: 1.75em">

	<div class="tab-pane active" id="Tutorial_1">
	{% capture my_include %}{% include doc/tuto-build-your-robot.md %}{% endcapture %}
	{{ my_include | markdownify }}

	</div>


	<div class="tab-pane" id="Tutorial_2">
	{% capture my_include %}{% include doc/tuto-grasp-object.md %}{% endcapture %}
	{{ my_include | markdownify }}
	</div>

	<div class="tab-pane" id="Tutorial_3">
	{% capture my_include %}{% include doc/tuto-static-walk.md %}{% endcapture %}
	{{ my_include | markdownify }}
	</div>

	<div class="tab-pane" id="Tutorial_4">
	{% capture my_include %}{% include doc/tuto-dynamic-walk.md %}{% endcapture %}
	{{ my_include | markdownify }}
	</div>
</div>


<script type="text/javascript">
  $(function () {
    var hash = window.location.hash;
    var tab;
    if (hash) {
      tab = hash + "_tab";
      var attr = $(tab).attr("data-toggle");
      if (attr !== "tab") tab = '#howto a:first';
    } else {
      tab = '#howto a:first';
    }
    $(tab).tab('show');
    })
</script>

<div style="padding: 2em"></div>
