name: CI - Windows (v142) via Conda
on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        name: [windows-latest]

        include:
          - name: windows-latest
            os: windows-2019

    steps:
    - uses: actions/checkout@v3
    - name: Checkout submodules
      run: |
        git submodule update --init
    - uses: goanpeca/setup-miniconda@v2
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
      with:
        activate-environment: pinocchio
        environment-file: .github/workflows/conda/conda-env.yml
        python-version: 3.7
    - name: Install cmake and update conda
      run: |
        conda install cmake -c main
        conda list

    - name: Display the path
      run: echo %cd%
      shell: cmd

    - name: Build Pinocchio
      shell: cmd /C CALL {0}
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
      run: |
        :: unset extra Boost envs
        set Boost_ROOT=
        set BOOST_ROOT_1_69_0=
        set BOOST_ROOT_1_72_0=

        call "%programfiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" amd64

        :: Create build directory
        mkdir build
        pushd build

        :: Configure
        cmake ^
          -G "Visual Studio 16 2019" -T "v142" -DCMAKE_GENERATOR_PLATFORM=x64 ^
          -DCMAKE_INSTALL_PREFIX=%CONDA_PREFIX%\Library ^
          -DCMAKE_BUILD_TYPE=Release ^
          -DPYTHON_SITELIB=%CONDA_PREFIX%\Lib\site-packages ^
          -DPYTHON_EXECUTABLE=%CONDA_PREFIX%\python.exe ^
          -DBUILD_WITH_URDF_SUPPORT=ON ^
          -DBUILD_PYTHON_INTERFACE=OFF ^
          -DBUILD_WITH_COLLISION_SUPPORT=ON ^
          -DBUILD_TESTING=ON ^
          -DINSTALL_DOCUMENTATION=ON ^
          ..

        :: Build
        cmake --build . --config Release --target install

#    - name: Start SSH session
#      uses: luchihoratiu/debug-via-ssh@main
#      with:
#        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
#        SSH_PASS: ${{ secrets.SSH_PASS }}
#
    - name: Testing
      shell: cmd /C CALL {0}
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
      run: |
        :: Testing
        pushd build
        set PATH=%PATH%;%CONDA_PREFIX%\Lib\site-packages\pinocchio
        set PATH=%PATH%;%CONDA_PREFIX%\Library\Lib
        set PATH=%PATH%;%CONDA_PREFIX%\Library\bin
        .\unittest\Release\test-cpp-urdf.exe
        .\examples\Release\example-cpp-geometry-models.exe
        ctest --output-on-failure -C Release -V --repeat until-pass:1

#        :: Test Python import
#        cd ..
#        python -c "import pinocchio"
